.__CatList__ {
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 60vh;
    overflow:scroll;

  div{
    // outline: solid 1px red;
  }
  .x {
    height:2em;
    width:2em;
    position: relative;
    top:30px;
    left:90%;
    cursor: pointer;
  }
}