.__CatList__ {
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 60vh;
    overflow:scroll;

  div{
    // outline: solid 1px red;
  }
}