.__Cat__ {
  
  width: 15em;
  height: 20em;
  margin: 1em 0 1em 0;
  // background: rgba(20,20,20,0.3);
  background: #FFF;
  border-radius: 5%;
  font-family: Lato;
  box-shadow: 5px 10px 10px #777;
  border: solid 1px black;

  .inner {
    margin: 1em 0 1em 0;
    height: 90%;
    background: #EEE;
    padding: .2em;
    border: solid black 1px;
  }
  

  .img {
    position: relative;
    float: left;
    width:  7em;
    height: 7em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 3px lightblue;
    border-right: solid 3px lightblue;
    border-top: solid 3px darkgrey;
    border-left: solid 3px darkgrey;
  }
  .img_container{
    display:flex;
    justify-content: center;
  }
  .icon {
    width: 1.9em;
    height: 1.9em;
  }
  .stats_bar {
    display:flex;
    width:50%;
    justify-content: space-around;
    padding-bottom:.1em;

  }
  .stats_container {
    display:flex;
    justify-content: center;
  }
  .stats_bar > div {
    font-size: 1.7em;
  }

  .fact {
    overflow: scroll;
    height: 100px;
  }
}
