.__Cat__ {
  
  width: 15em;
  height: 20em;
  margin: 1em 0 1em 0;
  // background: rgba(20,20,20,0.3);
  background: #FFF;
  border-radius: 5%;
  font-family: Lato;
  box-shadow: 5px 10px 10px #777;

  .inner {
    margin: 1em 0 1em 0;
    height: 90%;
    background: #EEE;
    padding: .2em;
    border:solid black 1px;
  }
  // margin: 1em .5em 1em .5em;

  .img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 2px lightgrey;
    border-right: solid 2px lightgrey;
    border-top: solid 2px darkgrey;
    border-left: solid 2px darkgrey;
  }
  .img_container{
    display:flex;
    justify-content: center;
  }
  .icon {
    width: 2em;
    height: 2em;
  }
  .stats_bar {
    display:flex;
    width:50%;
    justify-content: space-around;
    margin-left:1em;
  }
  .stats_bar > div {
    font-size: large;
  }

  .fact {
    overflow: scroll;
    height: 100px;
  }
}
