.__Battle__ {

  display:flex;
  height: 70vh;
  flex-direction: column;

  .field{
    flex-grow:1;
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
    position: relative;
  }
  .their_cats{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .my_cats {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .baseline {
    // position: fixed;
    display: flex;
    flex-direction: row;
    
  }
  .filler{
    flex: 1
  }
  .player {
    position: absolute;
    top: 30px;

    .container {
      box-shadow: none;
    }
  }

  .player_sword {
    height:80px;
    width:80px;
    position: absolute;
    -webkit-transform-origin: 0% 100%;
  
  }
  .enemy_sword {
    height:80px;
    width:80px;
    position: absolute;
    transform: scaleX(-1);
    -webkit-transform-origin: 0% 100%;
  }
  .enemy{
    position: absolute;
    top: 30px;
    .container {
      box-shadow: none;
    }
  }
  .make_big{
    width:300px;
  }
  .player_swing_sword {
    // -webkit-animation: swing_player .5s linear;
  }
  .explosion {
    position: absolute;
    top: 30px;
    height: 10em;
    width: auto;
  }
  .hide_element {
    display:none;
  }

  @keyframes swing_player {
    0%,100% {
      transform: rotate(-100deg);
    }
    50%{
      transform: rotate(120deg);
    }
  }
  @-webkit-keyframes swing_player {
    0%,100% {
      transform: rotate(-100deg);
    }
    50%{
      transform: rotate(120deg);
    }
  }
   @keyframes swing_enemy {
    0%,100% {
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(-200deg);
    }
  }
  @-webkit-keyframes swing_enemy{
    0%,100% {
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(-200deg);
    }
  }




}